extends ./layout/index

block contenido
  main.container.mt-5 
    .row 
      .col-md-5
        img(src="img/nosotros.jpg", alt="imagen sobre nosotros", class="img-fluid")
      .col-md-7
        h1 #{pagina}
        blockquote Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam sagittis nunc commodo, tincidunt felis vitae, tincidunt felis. Suspendisse volutpat mauris vel nisl interdum, et faucibus erat semper. Integer quis lorem at est porttitor commodo. Donec est quam, consequat sed nunc et, finibus rutrum tellus. Fusce semper nibh nunc, eget tempus metus imperdiet in. Etiam fringilla id est ac semper. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.

        p Cras sit amet tellus turpis. Integer et est nec sem varius varius sed non ante. Sed dui est, rutrum a pulvinar quis, vulputate sit amet purus. Nam pellentesque eleifend justo. Proin dictum fringilla ex ac vehicula. Cras vulputate magna risus, eget sollicitudin nibh sagittis eget. Suspendisse urna libero, maximus eu faucibus vitae, euismod vitae lorem.

        p Nullam vitae sem nec leo gravida auctor. In purus quam, pellentesque at ipsum nec, rutrum placerat arcu. Pellentesque vel consequat urna. Fusce laoreet mi ac mi volutpat, vitae blandit orci cursus. In diam enim, tempus vitae ipsum vitae, egestas vehicula arcu. Cras pulvinar euismod aliquet. Mauris nec est dapibus, fermentum enim vitae, mollis lectus. Quisque quis viverra ipsum, ornare viverra elit.

  .listado-iconos 
    .container.mt-5.py-5.text-center 
      .row 
        .col-md-4 
          img(src="img/icono_seguridad.svg", alt="icono seguridad", class="img-fluid mb-4")
          h2.mb-4 Seguridad
          p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam sagittis nunc commodo, tincidunt felis vitae, tincidunt felis. Suspendisse volutpat mauris vel nisl interdum, et faucibus erat semper. Integer quis lorem at est porttitor commodo. Donec est quam, consequat sed nunc et, finibus rutrum tellus.
        .col-md-4 
          img(src="img/icono_destinos.svg", alt="icono destinos", class="img-fluid mb-4")
          h2.mb-4 Mejores Destinos
          p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam sagittis nunc commodo, tincidunt felis vitae, tincidunt felis. Suspendisse volutpat mauris vel nisl interdum, et faucibus erat semper. Integer quis lorem at est porttitor commodo. Donec est quam, consequat sed nunc et, finibus rutrum tellus.
        .col-md-4 
          img(src="img/icono_precios.svg", alt="icono precios", class="img-fluid mb-4")
          h2.mb-4 Los Mejores Precios
          p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam sagittis nunc commodo, tincidunt felis vitae, tincidunt felis. Suspendisse volutpat mauris vel nisl interdum, et faucibus erat semper. Integer quis lorem at est porttitor commodo. Donec est quam, consequat sed nunc et, finibus rutrum tellus.